* {
        margin: 0;
        target-new: tab ! important
}
h1.logo {
        padding:20px;
        font-size: 320%;
        cursor: pointer;
}
div.pygments_monokai {
        padding: 10px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
}
p {
        margin: 9px;
}

div#document img {
        width: 690px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

div#content {
        width: 100%;
}

@media all and (min-width: 1000px) {
    div#content {
            width: 700px;
    }
}

@media all and (min-width: 700px) {
    div.post_prose {
        margin-left: 25px;
    }
    div.blog_post {
        padding-left:60px;
    }
}

.post_prose img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr.interblog {
        margin-top: 10px;
        margin-bottom: 10px;
}
html, body {
        height: 100%;
        font-family: Helvetica Neue, Arial, sans-serif;
}

li { list-style-type: decimal; }

.highlight {
    color: #D01A55;
}
a {
    border-radius: 3px 3px 3px 3px;
    color: #D01A55;
    padding: 0 2px;
    text-decoration: none;
    outline: 0;
}

a:hover {
    background: none repeat scroll 0 0 #FCB3D0;
    color: #000000;
    text-decoration: none;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.wrapper {
        min-height: 100%;
        width: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -60px;
}
.header {
        margin-top: -125px;
        margin-left: -350px;
        font-size:250%;
}
h1 {
    font-size: 150%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: -10px;

}
.menu {
        font-size: 125%;
        margin-top: -35px;
        margin-left: 12px;
}
.footer, .push {
        height: 60px;
}
.footer {
        text-align: center;
        font-size:80%;
}

.centered {
        position: fixed;
        top: 50%;
        left: 50%;
}

.note, .warning {
    background-color: #E0E0E0;
    margin-left: 40px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding-left: 2px;
    padding-top: 0.1pt;
    padding-bottom: 0.1pt;
}

.admonition-title {
    font-size: 120%;
    margin-bottom: -9px;
    text-decoration: underline;
}

.literal {
    background-color: rgb(247, 247, 249);
    border: 1px solid rgb(225, 225, 232);
    font-family: Monospace;
    padding: 2px;
}

#datagrepper-widget {
    display: none;
    position: absolute;
    right: 0px;
    width: 300px;
    font-size: 90%;
}

#datagrepper-widget .message-card img {
    width:24px;
    height:24px;
    vertical-align: middle;
}
#datagrepper-widget p {
    display: inline;
}
#datagrepper-widget .message-card {
    margin-top: 4px;
    padding-top: 3px;
    border-top: 1px solid gray;
}
#datagrepper-widget .datetime {
    color: #7a7a7a;
    font-weight: bold;
    font-size: 75%;
    vertical-align: middle;
}
#datagrepper-widget a:hover {
    background: none;
}

@media all and (min-width: 1000px) {
    #datagrepper-widget {
        display: block;
    }
}
